<h1> Listing data_sets </h1>

<table class="table.table-striped">
  <tr>
    <th> Title </th>
    <th> Description </th>
    <th> Createdate </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  - @data_sets.each do |data_set|
    <tr>
      <td> data_set.title </td>
      <td> data_set.description </td>
      <td> data_set.createdate </td>
      <td> link_to 'Show', data_set, class: "btn btn-default" </td>
      <td> link_to 'Edit', edit_data_set_path(data_set), class: "btn btn-default" </td>
      <td> link_to 'Destroy', data_set, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-default btn-danger" </td>
	</tr>

</table>

<br></br>


= link_to 'New Data set', new_data_set_path, class: "btn btn-default btn-info"
<br></br>