<p id="notice"> notice </p>

<p>
  <strong>Title:</strong>
  = @data_set.title
</p>

<p>
  <strong>Description:</strong>
  = @data_set.description
</p>

<p>
  <strong>Creation date: </strong>
  = @data_set.createdate
</p>

= link_to 'Edit', edit_data_set_path(@data_set)
\|
= link_to 'Back', data_sets_path
