%h1.center Philly Public Health Data Repository

%p Hello! This is the Philly Public Health Data Repository. This is in an early development, pre-alpha phase.
%p 
  For now, just click 
  = link_to 'here', datasets_path
  to access the list of available documents.
